
/* Small screens */
@media ( max-width : 640px) {

  #rcue-login-screen form {
    top: 100px;
    bottom: auto;
    padding-left: 10px;
    width: 100%;
    border-top: none;
    border-bottom: none;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  #rcue-login-screen form aside {
    float: left;
    margin: 0px;
  }
  
  #rcue-login-screen form aside p {
    margin-bottom: 0px;
  }
  
  #rcue-login-screen fieldset {
    border-right: none;
    padding-right: 5px;
  }

  #rcue-login-screen fieldset {
    width: auto;
  }
  
  #rcue-login-screen fieldset input[type="text"],
  #rcue-login-screen fieldset input[type="password"] {
    width: 222px;
  }

  #rcue-login-screen {
    background-size: 100% auto;
    min-width: 100%;
  }
  
  #rcue-login-screen form {
    min-width: 100%;
  }
}
